@model NorthWind.ViewModels.CreateEditProductVM

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Judul{
    Edit Product
}

@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post, new { Class = "standard-form" })) {

    @Html.ValidationSummary()
    @Html.HiddenFor(mod => mod.ID)
    <div class="form-body">

        <label>Product Name*:</label>
        @Html.TextBoxFor(mod => mod.Name)

        <label>Choose Supplier*:</label>
        @Html.DropDownListFor(mod => mod.SupplierID, new SelectList(Model.SupplierDropDown, "Value", "Text"), "No Supplier")

        <label>Choose Category*:</label>
        @Html.DropDownListFor(mod => mod.CategoryID, new SelectList(Model.CategoryDropDown, "Value", "Text"), "No Category")

        <label>Quantity Per Unit:</label>
        @Html.TextBoxFor(mod => mod.Quantity)

        <label>Unit Price:</label>
        @Html.TextBoxFor(mod => mod.Price)

        <label>Units In Stock:</label>
        @Html.TextBoxFor(mod => mod.InStock, new { type = "number" })

        <label>Units On Order</label>
        @Html.TextBoxFor(mod => mod.OnOrder, new { type = "number" })

        <label>Reorder Level</label>
        @Html.TextBoxFor(mod => mod.ReOrder, new { type = "number" })

        <label>Discontinued</label>
        @Html.CheckBoxFor(mod => mod.Discontinued)

    </div>

    <button type="submit" class="form-button">Update Product</button>
    @Html.ActionLink("Back to Category", "CategoryIndex", null, new { Class = "form-button" })
}
